:root {
    --primary-color: #132225;
    --bg-color: #272727;
    --secondary-color: #c8b567;
    --bg-sec-color: #0bc6e3;
    --table-border-color: #004650;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'LeagueOfLegends';
    src: url('../assets/fonts/Friz_Quadrata_Regular.ttf') format('truetype');
}

body {
    background-color: var(--bg-color);
    color: white;
    min-height: 100%;
    min-width: 450px;
}

header {
    background: rgb(0, 70, 80);
    background: linear-gradient(0deg, rgb(23, 51, 56) 0%, rgba(19, 34, 37, 1) 100%);
    padding: 7px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-family: 'LeagueOfLegends';
    text-shadow: 0px 3px 0px #161616;
}

h1 {
    margin: 10% 0px 5% 0px;
    background: transparent url(./../assets/img/rp.png) no-repeat center center;
    background-size: 122px;
    background-repeat: no-repeat;
    height: 150px;
    text-indent: -99999px;
    font-family: 'LeagueOfLegends';
}


/*Scroll bar*/

body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(0, 70, 80);
    background: linear-gradient(0deg, rgb(23, 51, 56) 0%, rgba(19, 34, 37, 1) 100%);
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #b88cff;
}

body::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 0px;
}


/* Cotação */

.cotacao {
    text-align: center;
}

.cotacao span {
    font-family: 'LeagueOfLegends';
    color: #c8b567;
    font-size: 2em;
}

.cotacao .opcional {
    font-size: 1em;
    margin: 1%;
    font-family: 'LeagueOfLegends';
    color: #909090;
}

.cotacao input[type="text"] {
    padding: 7px;
    background: transparent;
    border: none;
    text-align: right;
    font-size: 2em;
    font-family: 'LeagueOfLegends';
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cotacao input[type="text"]:hover {
    background: #c0c0c0;
    color: var(--bg-color);
}

.cotacao input[type="text"]:hover:focus {
    background: #c0c0c0;
    color: var(--bg-color);
}

.cotacao input[type="text"]:focus {
    outline: 0;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* Conteudo sobre o jogo*/

#conteudo {
    margin: auto;
    margin-top: 550px;
    max-width: 700px;
    font-family: 'Verdana';
}

#conteudo div {
    margin: 25px;
    padding: 10px;
}

#conteudo h2 {
    font-size: 20px;
}

#conteudo p {
    margin-top: 20px;
}

table {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table td,
table th {
    border: 1px solid var(--table-border-color);
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--table-border-color);
    color: #eeeeee;
}