:root {
    --primary-color: #fa4454;
    --bg-color: #272727;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Valorant';
    src: url('./Assets/fonts/Valorant_Font.ttf') format('truetype');
}

body {
    background-color: #272727;
    color: #ffffff;
    min-height: 100%;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

body::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 0px;
}

body::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #ff8c96;
}

body::-webkit-scrollbar-track {
    background: #272727;
    border-radius: 0px;
}

header {
    background-color: var(--primary-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-family: 'Valorant';
}

h1 {
    margin: 10% 0px 5% 0px;
    background: transparent url(./../assets/img/Valorant.png) no-repeat center center;
    background-size: 122px;
    background-repeat: no-repeat;
    height: 122px;
    text-indent: -99999px;
    font-family: 'Valorant';
}

.cotacao {
    text-align: center;
}

.cotacao span {
    font-family: 'Valorant';
    color: var(--primary-color)
}

.cotacao .opcional {
    margin: 1%;
    font-family: 'Valorant';
    color: #909090;
}

.pontos,
.real {
    font-size: 2em;
}

.cotacao input[type="text"] {
    background: transparent;
    border: none;
    padding: 5px;
    text-align: right;
    color: #fff;
    font-size: 2em;
    font-family: 'Valorant';
    width: 300px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cotacao input[type="text"]:hover {
    background: #c0c0c0;
    color: #272727;
}

.cotacao input[type="text"]:hover:focus {
    background: #c0c0c0;
    color: #272727;
}

.cotacao input[type="text"]:focus {
    border: none;
    outline: none;
    text-align: right;
    color: #fff;
    font-size: 2em;
    font-family: 'Valorant';
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#conteudo {
    margin: auto;
    margin-top: 550px;
    max-width: 700px;
    font-family: 'Verdana';
}

#conteudo div {
    margin: 25px;
    padding: 10px;
}

#conteudo h2 {
    font-size: 20px;
}

#conteudo p {
    margin-top: 20px;
}

table {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table td,
table th {
    border: 1px solid var(--primary-color);
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--primary-color);
    color: #eeeeee;
}