main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -300px;
    color: #ccc;
    align-items: center;
    min-width: 650px;
}

img {
    width: 300px;
    height: 300px;
    padding: 10px;
}

h2 {
    margin-top: 20px;
}

h3 {
    margin-top: 15px;
}

.criadores {
    margin-top: 50px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.criadores>div {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.criadores>div>img {
    border-radius: 50%;
}

.criadores>div>p {
    width: 300px;
    font-size: 1.3rem;
}

.picpay,
.pix {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    margin-top: 50px;
}